# See https://pre-commit.com for more information
default_language_version:
  ruby: '3.2.2'
  node: lts

# https://pre-commit.com/#supported-git-hooks
default_install_hook_types: # all of 'em!
  - commit-msg
  - post-checkout
  - post-commit
  - post-merge
  - post-rewrite
  - pre-commit
  - pre-merge-commit
  - pre-push
  - pre-rebase
  - prepare-commit-msg

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: '0.9.18'
    hooks:
      - id: uv-lock

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
