-e git+git@github.com:cj81499/advent-of-code@fcce81b8bab0d1a4c6ac054ccddc5ba43f1161c0#egg=advent_of_code_cj81499
advent-of-code-data==0.8.5
adventofcodecj==0.0.1
attrs==20.3.0
autopep8==1.5.4
beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
flake8==3.8.4
idna==2.10
iniconfig==1.1.1
mccabe==0.6.1
numpy==1.19.4
packaging==20.7
parse==1.18.0
Pebble==4.5.3
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
python-dotenv==0.15.0
requests==2.25.0
six==1.15.0
soupsieve==2.0.1
termcolor==1.1.0
toml==0.10.2
tqdm==4.54.0
urllib3==1.26.2
